
<div class = "navigation col-lg-1">
    <h4 class="head-title">
        <a [routerLink]="['/']">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            {{title}}
        </a>
    </h4>
    <nav id = "navigation">
        <a [routerLink]="['/Cliente']">
            <span class ="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Clientes
        </a>
        <a [routerLink]="['/Producto']">
            <span class ="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Productos
        </a>
        <a [routerLink]="['/Factura']">
            <span class ="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Facturar

        </a>
        <a href="#">
            <span class ="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Facturas generadas
            
        </a>

    </nav>

</div>



<div  class = "central col-lg-11"  >
    <router-outlet></router-outlet>
</div>

